form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

h1 {
  text-align: center;
}

input {
  padding: 10px;
  font-size: 18px;
}

select {
  width: 200px;
  height: 30px;
}

label {
  margin: 10px 0px;
}

button {
  width: 100px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  border-color: gainsboro;
  cursor: pointer;
}
