body {
  /* background-color: rgb(255, 253, 253); */
}
.navigation {
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(245, 241, 241); */
  border-radius: 10px;
  padding: 5px;
  align-items: center;
}

.nav-links-right {
  display: flex;
  gap: 25px;
  margin: 0 28px;
}

.nav-links-left {
  margin: 0 28px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}
.container {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.main-left h2 {
  font-size: 48px;
  line-height: 2.5;
  font-family: monospace;
}

.main-left {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}
.fruit-stand-img {
  height: 650px;
  border-radius: 5px;
}
.card-grid {
  display: flex;
}
.card {
  text-align: center;
  width: 300px;
}

.card img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}
form {
  display: flex;
}
label {
  display: flex;
  margin-bottom: 10px;
  opacity: 80%;
}

fieldset {
  margin: 0 auto;
  border: 1px solid #ccc;
}
fieldset div {
  margin: 10px;
}
input {
  width: 250px;
  height: 25px;
}
.contact-btn {
  width: 100px;
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.about {
  width: 500px;
  margin: 0 auto;
}
footer {
  text-align: center;
}
